---
title: Darryl Pogue
---
<h1>Darryl Pogue</h1>

<section class="floating">
  <h2>Articles</h2>
  <ul class="bullets-none">
    <li>
      <p>
        <b><a href="/articles/ios11-viewport.html">Understanding the WebView Viewport in iOS 11</a></b>
        &bull;
        <time>2017-09-13</time>
        <br>
        <i>iOS 11 changes behaviour around how the status bar interacts with the WebView. Let's learn about viewport-fit and safe-area-inset constants.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/cordova-xcode8.html">Cordova builds with Xcode 8</a></b>
        &bull;
        <time>2016-09-14</time>
        <br>
        <i>Workarounds for Cordova/PhoneGap iOS projects in Xcode 8 to handle code signing and provisioning.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/seymour.html">Seymour: Cordova build helper</a></b>
        &bull;
        <time>2015-11-16</time>
        <br>
        <i>A Cordova build helper designed specifically for continuous integration environments.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/html5-menu.html">HTML5 Menus &amp; Browser Support</a></b>
        &bull;
        <time>2015-03-04</time>
        <br>
        <i>An overview of the HTML5 menu element, how to use it, and the state of its current support in browsers.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/webp-ios.html">cordova-plugin-webp: WebP support for iOS</a></b>
        &bull;
        <time>2014-11-24</time>
        <br>
        <i>A Cordova plugin for automatic handling of WebP images in iOS web views.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/nativenav.html">Native Navigation in the Mobile Web World</a></b>
        &bull;
        <time>2014-10-06</time>
        <br>
        <i>Some thoughts on the problem of native navigation for hybrid mobile apps and the web, and a review of potential solutions.</i>
      </p>
    </li>
  </ul>
</section>
