---
title: Darryl Pogue
---
<h1>Darryl Pogue</h1>

<section class="floating">
  <h2>Articles</h2>
  <ul class="bullets-none">
    <li>
      <p>
        <b><a href="/articles/ios11-viewport.html">Understanding the WebView Viewport in iOS 11</a></b>
        &bull;
        <time>2017-09-13</time>
        <br>
        <i>iOS 11 changes behaviour around how the status bar interacts with the WebView. Let's learn about viewport-fit and safe-area-inset constants.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/cordova-xcode8.html">Cordova builds with Xcode 8</a></b>
        &bull;
        <time>2016-09-14</time>
        <br>
        <i>Workarounds for Cordova/PhoneGap iOS projects in Xcode 8 to handle code signing and provisioning.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/seymour.html">Seymour: Cordova build helper</a></b>
        &bull;
        <time>2015-11-16</time>
        <br>
        <i>A Cordova build helper designed specifically for continuous integration environments.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/html5-menu.html">HTML5 Menus &amp; Browser Support</a></b>
        &bull;
        <time>2015-03-04</time>
        <br>
        <i>An overview of the <abbr>HTML5</abbr> menu element, how to use it, and the state of its current support in browsers.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/webp-ios.html">cordova-plugin-webp: WebP support for iOS</a></b>
        &bull;
        <time>2014-11-24</time>
        <br>
        <i>A Cordova plugin for automatic handling of WebP images in iOS web views.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/nativenav.html">Native Navigation in the Mobile Web World</a></b>
        &bull;
        <time>2014-10-06</time>
        <br>
        <i>Some thoughts on the problem of native navigation for hybrid mobile apps and the web, and a review of potential solutions.</i>
      </p>
    </li>
    <li>
      <p>
        <b><a href="/articles/gmusic.html">The Google Music API</a></b>
        &bull;
        <time>2012-01-14</time>
        <br>
        <i>Exploring the undocumented Google Music <abbr>API</abbr>.</i>
      </p>
    </li>
  </ul>
</section>

<div class="profile">
  <figure>
    <img src="/img/dpogue.jpg" alt="Darryl Pogue, photo circa July 2022" loading="lazy" style="aspect-ratio: 3/4;">
  </figure>

  <section class="floating">
    <h2>About Me</h2>

    <p>Darryl Pogue is a software developer from Vancouver, <abbr>BC</abbr> working at <a href="https://ayogo.com">Ayogo Health</a>. Working with <abbr>HTML</abbr> since the turn of the millennium, his interests are in embracing the web platform and pushing the boundaries of web technologies.</p>

    <p>His first experiences with software development were through building open-source tools as part of a modding community for a spin-off <i>Myst</i> game. He is a volunteer maintainer of the <a href="https://cordova.apache.org/">Apache Cordova</a> project, and remains an active contributor to the open-source engine for <a href="https://mystonline.com/en/developers/">Myst Online: Uru Live</a>.</p>

    <p>Outside of coding, Darryl is an amateur radio operator (<abbr>VA7DPO</abbr>) and local transit enthusiast. He longs for a simple life in the secluded forests of the nearby mountains.</p>

    <a class="profile-icon" title="GitHub" aria-label="Github" rel="me" href="https://github.com/dpogue">
      <svg viewBox="0 0 512 512">
        <mask id="ghClip">
            <rect x="0" y="0" width="512" height="512" fill="#fff"/>
            <path fill="#000" d="M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-44c-71 16-86-34-86-34-12-30-28-37-28-37-24-16 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18 24 18 48l-1 70c0 6 3 12 16 12z"/>
        </mask>

        <circle mask="url(#ghClip)" cx="256" cy="256" r="256"/>
      </svg>
    </a>

    <a class="profile-icon" title="Twitter" aria-label="Twitter" rel="me" href="https://twitter.com/dpogue">
      <svg viewBox="0 0 335 276">
        <path d="m302 70a195 195 0 0 1 -299 175 142 142 0 0 0 97 -30 70 70 0 0 1 -58 -47 70 70 0 0 0 31 -2 70 70 0 0 1 -57 -66 70 70 0 0 0 28 5 70 70 0 0 1 -18 -90 195 195 0 0 0 141 72 67 67 0 0 1 116 -62 117 117 0 0 0 43 -17 65 65 0 0 1 -31 38 117 117 0 0 0 39 -11 65 65 0 0 1 -32 35"/>
      </svg>
    </a>

    <a class="profile-icon" title="Mastodon" aria-label="Mastodon" rel="me" href="https://mastodon.social/@dpogue">
      <svg viewBox="0 0 216 232">
        <mask id="mastoClip">
          <rect x="0" y="0" width="232" height="232" fill="#fff"/>
          <path fill="#000" d="M178 80v61h-25V82c0-13-5-19-15-19-12 0-18 8-18 22v33H96V85c0-14-6-22-17-22s-16 6-16 19v59H39V80c0-12 3-22 9-30 7-7 16-11 26-11 13 0 22 5 28 15l6 10 6-10c6-10 16-15 28-15 11 0 19 4 26 11 6 8 10 18 10 30"/>
        </mask>

        <path mask="url(#mastoClip)" d="M212 139c-3 16-29 34-58 38-15 2-30 3-46 3-26-2-46-7-46-7v8c4 25 26 27 47 28 21 0 39-6 39-6l1 19s-14 8-41 10c-14 1-32-1-53-6C9 214 1 165 0 116V76c0-50 33-65 33-65C50 3 78 0 108 0h1c29 0 58 3 74 11 0 0 33 15 33 65 0 0 1 37-4 63"/>
      </svg>
    </a>

    <a class="profile-icon" title="Instagram" aria-label="Instagram" rel="me" href="https://instagram.com/dvpdiner2">
      <svg viewBox="0 0 512 512">
        <path d="M256,49.471c67.266,0,75.233.257,101.8,1.469,24.562,1.121,37.9,5.224,46.778,8.674a78.052,78.052,0,0,1,28.966,18.845,78.052,78.052,0,0,1,18.845,28.966c3.45,8.877,7.554,22.216,8.674,46.778,1.212,26.565,1.469,34.532,1.469,101.8s-0.257,75.233-1.469,101.8c-1.121,24.562-5.225,37.9-8.674,46.778a83.427,83.427,0,0,1-47.811,47.811c-8.877,3.45-22.216,7.554-46.778,8.674-26.56,1.212-34.527,1.469-101.8,1.469s-75.237-.257-101.8-1.469c-24.562-1.121-37.9-5.225-46.778-8.674a78.051,78.051,0,0,1-28.966-18.845,78.053,78.053,0,0,1-18.845-28.966c-3.45-8.877-7.554-22.216-8.674-46.778-1.212-26.564-1.469-34.532-1.469-101.8s0.257-75.233,1.469-101.8c1.121-24.562,5.224-37.9,8.674-46.778A78.052,78.052,0,0,1,78.458,78.458a78.053,78.053,0,0,1,28.966-18.845c8.877-3.45,22.216-7.554,46.778-8.674,26.565-1.212,34.532-1.469,101.8-1.469m0-45.391c-68.418,0-77,.29-103.866,1.516-26.815,1.224-45.127,5.482-61.151,11.71a123.488,123.488,0,0,0-44.62,29.057A123.488,123.488,0,0,0,17.3,90.982C11.077,107.007,6.819,125.319,5.6,152.134,4.369,179,4.079,187.582,4.079,256S4.369,333,5.6,359.866c1.224,26.815,5.482,45.127,11.71,61.151a123.489,123.489,0,0,0,29.057,44.62,123.486,123.486,0,0,0,44.62,29.057c16.025,6.228,34.337,10.486,61.151,11.71,26.87,1.226,35.449,1.516,103.866,1.516s77-.29,103.866-1.516c26.815-1.224,45.127-5.482,61.151-11.71a128.817,128.817,0,0,0,73.677-73.677c6.228-16.025,10.486-34.337,11.71-61.151,1.226-26.87,1.516-35.449,1.516-103.866s-0.29-77-1.516-103.866c-1.224-26.815-5.482-45.127-11.71-61.151a123.486,123.486,0,0,0-29.057-44.62A123.487,123.487,0,0,0,421.018,17.3C404.993,11.077,386.681,6.819,359.866,5.6,333,4.369,324.418,4.079,256,4.079h0Z"/>
        <path d="M256,126.635A129.365,129.365,0,1,0,385.365,256,129.365,129.365,0,0,0,256,126.635Zm0,213.338A83.973,83.973,0,1,1,339.974,256,83.974,83.974,0,0,1,256,339.973Z"/>
        <circle cx="390.476" cy="121.524" r="30.23"/>
      </svg>
    </a>

    <a class="profile-icon" title="Last.fm" aria-label="Last.fm" rel="me" href="http://www.last.fm/user/dpogue">
      <svg viewBox="0 0 33 33">
        <path d="M 25.612,25.426c-3.333-0.013-5.109-1.643-6.343-4.516l-0.353-0.784l-3.043-6.938 c-1.009-2.456-3.513-4.115-6.339-4.115c-3.823,0-6.925,3.102-6.925,6.927c0,3.826, 3.102,6.927, 6.925,6.927 c 2.667,0, 4.986-1.508, 6.143-3.719l 1.23,2.838c-1.747,2.13-4.402,3.487-7.374,3.487C 4.268,25.535,0,21.27,0,16.001 c0-5.266, 4.268-9.537, 9.534-9.537c 3.974,0, 7.182,2.122, 8.813,5.883c 0.124,0.292, 1.724,4.034, 3.12,7.219 c 0.865,1.971, 1.602,3.279, 3.992,3.36c 2.349,0.081, 3.961-1.349, 3.961-3.156c0-1.766-1.229-2.19-3.305-2.88 c-3.731-1.229-5.656-2.464-5.656-5.422c0-2.885, 1.964-4.81, 5.154-4.81c 2.078,0, 3.578,0.925, 4.617,2.768 l-2.039,1.042c-0.768-1.075-1.616-1.5-2.693-1.5c-1.497,0-2.566,1.042-2.566,2.427c0,1.966, 1.759,2.263, 4.219,3.070 C 30.461,15.543, 32,16.775, 32,19.85C 32,23.079, 29.229,25.431, 25.612,25.426z"></path>
      </svg>
    </a>
  </section>
</div>
