<header>
  <h1 align="right">
    <a href="/">dpogue</a>
  </h1>

  <svg viewBox="2 0 2828 455" preserveAspectRatio="xMidYMin slice" role="presentation">
    <path role="presentation" fill="#615968" d="M902 203c26-10 51-19 66-27 14-9 17-15 20-17 2-2 4 2 7 2s7-3 13-3c5-1 10 2 16 2l16-3c5 0 11 4 18 7l23 4c8 2 14 5 20 8 5 4 8 6 14 7l23 1c10 0 20 2 26 3l13 4h13c5 0 12 2 19 4l22 6 24 3 12 3h10l23 2 32 3 27 4 19 3 14 4 25 3 25 6 28 6 26 1 30 6c13 3 32 4 50 5h49c15 1 28 4 40 6l33 5 34 1 33 3c10 2 17 3 28 2h41c16 2 32 7 43 9 10 1 15-1 22-1l26 3 29 2 40 4c17 2 35 3 57 7 22 3 48 8 65 12s27 6 37 6 20-2 45 1c78 10 155 25 230 46 50 14 112 35 174 55l226 49H902"></path>
    <path role="presentation" fill="#655764" d="M1161 460l-2-184-50-26c-23-14-58-35-90-51s-61-28-79-34c-17-7-24-7-28-8-5-1-7-3-10-5l-8-11-10-13-13-10-8-3-6 3-9 9-16 14c-5 5-7 8-10 9-3 2-6 1-9 0l-10-5c-4-1-7 0-11 2l-14 8c-4 2-5 3-7 1-3-1-6-5-8-9l-6-7-6-1-8 1-10-1c-3-1-4-3-6-7-2-3-4-9-8-12s-9-3-12-4l-8-3-4 2-6-2-5 1-10-4h-9l-7 2c-2 1-4-1-6-4l-6-6c-2-1-3 1-5 1l-4 2c-2 0-5-1-8 1-3 1-6 4-9 7l-7 10c-2 3-4 5-9 7l-43 14-152 46v270"></path>
    <path role="presentation" fill="#655764" d="M778 460V214l-69-24-32-13-45-22-38-17c-7-3-7-4-7-6-1-2-1-5-5-8-3-3-10-6-16-8-7-3-13-4-19-5h-17l-10 3-7 6h-5l-6 2-8-4c-3-3-8-8-13-10-6-3-12-4-17-5h-16l-7-3-10-8c-3-1-4-2-6-1l-7 4-9 8-12 5-22 5h-9l-6 3-7 7-11 3c-3 0-5 2-7 5l-7 12-11 11-12 7c-3 2-3 1-8 2-4 0-11 0-19 2-12 3-24 7-34 14l-8 5-14 3-16-1c-5 1-11 2-16 5l-14 7-14 15c-10 11-26 31-34 76-9 45-9 102-9 171"></path>
    <switch>
      <path role="presentation" fill="#474658" d="M1161 460l-2-184c-33-16-65-32-91-42s-45-14-70-18c-26-4-58-7-85-9l-68-5c-18-3-29-6-39-9-9-3-17-7-29-8-30-3-60-1-89 5l-41 9c-13 2-25 1-37 0s-25-3-39-1c-13 2-28 8-44 15-39 16-78 30-119 40l1 207"></path>
      <foreignObject>
        <img class="fallback-banner" src="/img/header.gif" alt="" role="presentation" width="100%">
      </foreignObject>
    </switch>
    <path role="presentation" fill="#4c4859" d="M605 460V273c-21-7-42-13-59-21-17-7-30-16-43-24-14-8-27-16-44-22-31-12-63-17-96-16l-21 1-23-4c-9-1-20-3-27-2-7 0-12 2-17 4l-21 2h-27c-22 1-44 6-65 13-9 3-14 6-22 6-9 1-22-1-31-1-10 0-16 2-29 10-12 8-31 21-41 30-10 8-12 12-15 17l-12 16-12 9v169"></path>
    <path role="presentation" fill="#2d2b36" d="M0 460v-69l89-44c30-14 59-26 88-33 29-6 57-7 85-8 56-2 112-11 165-28 21-7 29-11 41-18 11-6 25-14 36-18 10-4 16-2 22-2h16c7-1 16-3 26-2l33 6c11 2 19 2 28 1s17-3 26-3c8-1 16 1 25 1l25 1c8 0 17 3 23 4 5 1 8 1 17-2l38-11c19-6 39-6 57 1l23 10c5 2 6 4 9 4h10c5 1 12 3 17 7l18 10c8 3 19 4 30 8l28 12c7 3 10 2 21 0l43-10c15-3 27-6 42-7 15-2 32-2 54 2 22 3 49 9 84 16l105 20c29 4 47 4 76 5 28 2 67 4 123 5l223 5c92 3 203 10 386 29 184 19 442 52 699 84v24"></path>
  </svg>
</header><!-- /header -->
