body {
    color-scheme: light dark;
    margin: 0;
    padding: 0;
    font: -apple-system-body;
    font-family: system-ui, sans-serif;
    background: #2d2b36;
    background-image: linear-gradient(to bottom, #2d2b36, #2d2b36, #1a1c28);
    min-height: 100%;
    min-height: 100vh;
}

header {
    display: block;
    padding-top: env(safe-area-inset-top, 0px);
    box-sizing: border-box;
    background: #a9a6ad;
    background-image: linear-gradient(to bottom, #a9a6ad, #f7ba84);
}

header svg {
    width: 100%;
    display: block;
    overflow: hidden;
}

main {
    display: block;
    box-sizing: border-box;
    width: 90%;
    width: calc(100vw - 2rem);
    width: calc(100vw - 2rem - env(safe-area-inset-left, 0px) - env(safe-area-inset-right, 0px));
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    color: #f7ba84;
}

article, section {
    display: block;
    background: #cacace;
    color: #24222a;
    padding: 1em;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem 0.25rem 0 0;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    line-height: 1.5;
}

a {
    color: #474658;
}
